* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

h3 {
  background-color: #1cd1b0;
  background-size: 100%;
  
}
h1 {
  background-color: #00669f;
  width: 100%;
  height: 85px;
  padding-left: 20px;
}
input {
  position: relative;
  background-color: #00669f;
  width: 100px;
  height: 45px;
  text-align: center;
  color: #f3f3f3;
  border: 0;
  padding: 15px;
}
div {
  display: inline-block;
  background-color: #f3f3f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 500px;
  width: 300px;
  left: 362px;
  top: 485px;
  margin: 10px;
}
h2 {
  display: inline-block;
  position: relative;
}
footer {
  background-color: #00669f;
  color: #f3f3f3;
  height: 35px;
}
.content__input {
  margin-top: 10px;
  margin-left: 100px;
}

.content__p {
  margin-top: 10px;
  margin-left: 20px;
}
.content__h2 {
  margin-top: 30px;
  margin-left: 90px;
}
.content__icon {
  margin-left: 95px;
  position: relative;
  margin-top: -150px;
  margin-bottom: -35px;
  border-radius: 50%;
}
.content__vector {
  position: relative;
  margin-right: 85px;
  margin-left: 10px;
  top: -200px;
}
.content__img {
  position: relative;
}
header {
  position: relative;
  top: -22px;
  z-index: 10;
  
}
